.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav li {
    float: none;
    display: inline-block;
}
.navbar-brand {
    float: none;
}
.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}
.navbar {
    border: none;
    letter-spacing: 3px;
    background-color: aliceblue;
}
.header-main {
    font-size: 300%;
    letter-spacing: 3px;
    color: #777;
    background-color: aliceblue;
}
.header-main h1 {
    font-family: impact;
    padding: 20px;
}
.header-main h4 {
    padding-top: 10px;
    padding-bottom: 20px;
}
.nav-wrapper{
    height: 50px;
}
.stick {
  position:fixed;
  top:0px;
  width: 100%;
}
#ellis-navbar {
  padding-top: 5px;
  background-color: aliceblue;
}
#footer-bar {
  background-color: aliceblue;
  letter-spacing: 3px;
}
#footer-bar h1 {
  color: #777;
  padding: 10px;
}
body {
      position: relative;

}
.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
}
.navbar {
      margin-bottom: 0px;
}
.affix ~ .container-fluid {
     position: relative;
     margin-top: 50px;
}
.posts{
    font-size: 200%;
    color: #777;
}
.posts p{
    font-size: 50%;
    color: black;
}
.grey {
    color: #777;
}
.posts li{
    margin-top: 20px;
    margin-bottom: 20px;
}
